<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.papers.news.ts.ap.telugu.telugu_ap_ts_news_papers">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
